<h1>Bodgery Management Login</h1>

<form method="POST" action="/user/login">
    <input type="hidden" name="_token" value="{{csrf}}">
    <div>
        <label for="user">Username</label>
        <input
            type="text"
            name="username">
    </div>
    <div>
        <label for="pass">Password</label>
        <input
            type="password"
            name="password">
    </div>
    <div>
        <input
            type="submit"
            value="Login">
    </div>
</form>
