<h1>Bodgery Management Login</h1>

<form method="POST" action="/login">
    <div>
        <label for="user">Username</label>
        <input
            type="text"
            name="user">
    </div>
    <div>
        <label for="pass">Password</label>
        <input
            type="password"
            name="pass">
    </div>
    <div>
        <input
            type="submit"
            value="Login">
    </div>
</form>
