<h1>Pending Members</h1>

<div id="msg"></div>

<ul id="pending-members" class="nobullet">
</ul>


<script>
'use strict';

var pending_list
var msg_div;

function load_pending()
{
    var url = "/api/v1/members/pending";
    msg_div.text( "Loading . . . " );
    msg_div.show();
    pending_list.hide();

    $.ajax( url, {
        "type": "GET",
        "error": function (jqXHR, str, exception) {
            msg_div.text( "Error fetching pending members: " + str );
        },
        "success": function (data, str, jqXHR) {
            update_pending( data );
        }
    });
}

function update_pending( data )
{
    $( ".member" ).remove();

    data.forEach( function (_) {
        pending_list.append( '<li class="member">'
            + '<a href="/member/signup?wa_id=' + _.wild_apricot_id + '">'
            + _.first_name + " " + _.last_name
            + "</a></li>"
        );
    });

    msg_div.hide();
    pending_list.show();
}

$( document ).ready(function () {
    pending_list = $( "#pending-members" );
    msg_div = $( "#msg" );

    load_pending();
});
</script>
